
 <ul class="nav nav-pills nav-stacked">
   <li class="active"><%= link_to "所有职缺",jobs_path %></li>
   <li class=""><a href="#section2">设计</a></li>
   <li><a href="#section3">施工</a></li>
   <li><a href="#section3">监理</a></li>
 </ul><br>
 <div class="input-group">
   <input type="text" class="form-control" placeholder="搜索职缺..">
   <span class="input-group-btn">
     <button class="btn btn-default" type="button">
       <%= awesome("search") %>
     </button>
   </span>
 </div>
