<div class="panel panel-primary">
  <div class="panel-heading">
         <h3 class="panel-title">
           <%= resume.user.email %>
         </h3>
  </div>

  <div class="panel-body">
    <div class="trix-content">
      <p><%= simple_format(resume.content) %></p>
    </div>

    <hr>

    <% if resume.attachment.present? %>
      <%= link_to awesome("paperclip")+"下载简历", resume.attachment_url %>
    <% else %>
      No attachment
    <% end %>

  </div>
</div>
