<footer class="container-fluid" style="margin-top:100px;">
  <div class="row">
    <p class="text-center footer-below">
      <span class="glyphicon glyphicon-map-marker">南京市江宁区东南西北街9号</span>
      <br>
      <span class="glyphicon glyphicon-phone-alt">025-52135595</span>
      <br>
      <span class="glyphicon glyphicon-envelope">15335179426@189.cn</span>
    <br> Copyright ©2017 建•筑  Design by superzrr
  </p>
  </div>
</footer>
